/* style.css */

#header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
}
#logo {
    top: 0px; 
    max-height: 36px;
    min-height: 24px;
    max-width: 100%; /* Image will scale down, never exceeding container's width */
    height: auto;  /* Height adjusts automatically to preserve aspect ratio */
}
h1 {
    font-size: 16px;
    color: #0067a0;
    justify-self: right;
    margin-right: 2px;
}
#start-button-img {
    cursor: pointer; /* image behaves like a clickable button */
    height: 30px;
    width: 30px;
    visibility: visible; /* Default state */
    opacity: 1; /* Default state */
    transition: opacity 0.5s; /* Smooth transition for hiding */
    justify-self: center; /*right*/
    /*margin-left: 10px;*/
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; /* This makes sure it takes the full viewport height */
}

#word-display {
    font-size: 80px;
    margin-bottom: 10px;
}
.highlighted {
    color: #ea234b;
}


#grid-area {
    display: grid;
    grid-template-columns: repeat(8, 20px); /* Creates 8 columns, each 20px wide */
    grid-template-rows: repeat(5, 20px); /* Creates 5 rows, each 20px high */
    gap: 1px; /* Optional: Adds a gap between cells */
}
.grid-cell {
    width: 100%; /* Fills the cell */
    height: 100%;
    border: 1px solid lightgray; /* Optional */
}

#image-container {
    position: relative;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}
#image-fixed, #image-stretch {
    position: absolute;
    top: 0;
    width: 100%; /* Ensure it fills the container */
    height: 100%; /* Ensure it fills the container */
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    opacity: 0.7;
    transform: rotate(45deg);
    animation: confetti-fall linear;
    --random-left-offset: 0px;
}
/* Randomize the animation for each confetti piece */
.confetti:nth-child(even) { background-color: #ff4444; }
.confetti:nth-child(odd) { background-color: #44ff44; }
.confetti:nth-child(3n) { background-color: #4488ff; }
@keyframes confetti-fall {
    0% { transform: translateY(0) rotate(45deg); }
    100% { transform: translateY(100vh) rotate(45deg); }
}

@media (max-width: 600px) {
    .logo, .header-text, .start-button {
      font-size: 14px; 
      padding: 5px; 
    }
    .container {
      padding: 10px; 
    }
    #plot-area .grid-cell {
      width: 30px; 
      height: 30px;
    }
    img {
      width: 80%; /* Make images responsive */
      height: auto;
    }
}
